<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CATranform3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F2168261BD4D3EB007B2969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F21683F1BD4D3EC007B2969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F21684A1BD4D3EC007B2969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
